* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Merriweather Sans", sans-serif;
}

.map-container {
  height: 100vh;
  max-height: 820px;
  max-width: 1180px;
}

.searchInterface {
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translate(-50%, 0);
  height: 10vh;
  z-index: 5;
  display: flex;
  justify-content: center;
  z-index: 2;
  padding: 0.5rem 1rem;
}

.searchInterface input {
  padding: 0.4rem 0.8rem;
  border-radius: 1rem;
  width: 80%;
  color: white;
  font-size: 2rem;
  text-align: center;
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.5);
}

.searchInterface input::placeholder {
  color: white;
  opacity: 0.75;
}
.description {
  text-align: center;
}

@media screen and (orientation: landscape) {
  .searchInterface {
    height: 15vh;
  }
  .searchInterface input {
    width: 60%;
  }
}
